In [1]:
import pandas as pd
import numpy as np
from datetime import date, datetime
from yahoo_historical import Fetcher

In [2]:
df = Fetcher('^TWII', [2019, 1, 1], [2019, 12, 8]).getHistorical()
print(df.head())

         Date         Open         High          Low        Close  \
0  2019-01-02  9725.269531  9737.679688  9542.519531  9554.139648
1  2019-01-03  9494.250000  9554.530273  9474.469727  9492.419922
2  2019-01-04  9427.240234  9427.240234  9319.280273  9382.509766
3  2019-01-07  9460.200195  9596.349609  9460.200195  9590.299805
4  2019-01-08  9591.559570  9600.940430  9547.629883  9563.599609

     Adj Close   Volume
0  9554.139648  1239100
1  9492.419922  1560800
2  9382.509766  1842100
3  9590.299805  1722300
4  9563.599609  1423100

In [3]:
df[["Date"]].head()

         Date
0  2019-01-02
1  2019-01-03
2  2019-01-04
3  2019-01-07
4  2019-01-08

In [4]:
idx = [i for i in range(len(df)) if (i % 7 == 0 or i % 7 == 1)] 
print(idx)

[0, 1, 7, 8, 14, 15, 21, 22, 28, 29, 35, 36, 42, 43, 49, 50, 56, 57, 63, 64, 70, 71, 77, 78, 84, 85, 91, 92, 98, 99, 105, 106, 112, 113, 119, 120, 126, 127, 133, 134, 140, 141, 147, 148, 154, 155, 161, 162, 168, 169, 175, 176, 182, 183, 189, 190, 196, 197, 203, 204, 210, 211, 217, 218]

In [5]:
df = df.loc[idx, ['Open', 'Close']]
print(df.head())

           Open        Close
0   9725.269531  9554.139648
1   9494.250000  9492.419922
7   9753.629883  9759.400391
8   9737.669922  9708.219727
14  9880.540039  9894.660156

In [6]:
#64筆資料.兩個column(Open.Close)
data = df.values 
print(data.shape)

(64, 2)

In [7]:
#32組連續2天.兩個column
data = data.reshape((len(idx) // 2, 2, 2))
print(data.shape)

(32, 2, 2)

In [8]:
#全選,第一天(0)的close-open(1-0)
delta = data[:, 0, 1] - data[:, 0, 0]
print(delta)

[-1.71129883e+02  5.77050800e+00  1.41201170e+01 -2.55898440e+01
  9.05195310e+01 -1.79902340e+01 -4.26494140e+01 -5.56396480e+01
 -2.07900390e+01  2.22197260e+01  2.21298830e+01  7.31894530e+01
 -8.19697260e+01 -1.00498050e+01 -3.58798830e+01  4.18398440e+01
 -8.83984300e+00 -1.19140000e-01  2.10498050e+01  4.91601560e+01
 -1.05459961e+02 -4.76201170e+01 -9.88300780e+01  9.09892570e+01
 -3.43496090e+01 -3.75800790e+01  3.12998040e+01  1.79101570e+01
  4.33105460e+01 -4.13496090e+01  4.79199220e+01 -2.46201170e+01]

In [9]:
#每一組 第一天close-open>0,選第二天資料,取open跟close(:)
data = data[delta > 0, 1, :]
print(data)

[[ 9737.669922  9708.219727]
 [ 9869.540039  9846.400391]
 [10282.320313 10319.530273]
 [10961.610352 10997.259766]
 [10986.530273 10952.469727]
 [10938.469727 10923.709961]
 [10547.150391 10566.740234]
 [10861.110352 10828.480469]
 [10898.25     10891.980469]
 [10718.400391 10756.929688]
 [10976.929688 10889.959961]
 [11221.19043  11271.25    ]
 [11393.679688 11358.709961]
 [11645.730469 11631.200195]]

In [10]:
#每一筆全選 第二天的open-close(空)
a = data[:, 0] - data[:, 1]
print(200*np.sum(a)-len(a)*120)

17468.242599999503

In [11]:
print(sum(a))

95.74121299999751